<!DOCTYPE html>
<html lang="{{ lang or 'en' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16.png') }}">
    <title>{% block title %}{{ radio_station_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% block top_controls %}
{% endblock %}

{% block content %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/i18n.js"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
